<h3 class="ui header">{{t "forms.i-i-s-shop-test-product-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.productCode
      class=(if (v-get validationModel "productCode" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.productCode-caption")
      data-test-i-i-s-shop-test-product-e-productCode=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "productCode" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationModel "name" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.name-caption")
      data-test-i-i-s-shop-test-product-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.measure
      class=(if (v-get validationModel "measure" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.measure-caption")
      data-test-i-i-s-shop-test-product-e-measure=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "measure" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.description
      class=(if (v-get validationModel "description" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.description-caption")
      data-test-i-i-s-shop-test-product-e-description=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "description" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.price
      class=(if (v-get validationModel "price" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.price-caption")
      data-test-i-i-s-shop-test-product-e-price=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "price" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.weight
      class=(if (v-get validationModel "weight" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-test-product-e.weight-caption")
      data-test-i-i-s-shop-test-product-e-weight=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "weight" "message")}}
  </div>
</form>
